<a href="https://colab.research.google.com/github/gorzanskik-ai/machine-learning/blob/main/supervised-learning/01_basics/01_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [53]:
import sklearn
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Generacja danych

In [54]:
data = {
    'size': ['XL', 'L', 'M', 'L', 'M'],
    'color': ['red', 'green', 'blue', 'green', 'red'],
    'gender': ['female', 'male', 'male', 'female', 'female'],
    'price': [199.0, 89.0, 99.0, 129.0, 79.0],
    'weight': [500, 450, 300, 380, 410],
    'bought': ['yes', 'no', 'yes', 'no', 'yes']
}

df_raw = pd.DataFrame(data)
df = df_raw.copy()  #kopia danych
df

  size  color  gender  price  weight bought
0   XL    red  female  199.0     500    yes
1    L  green    male   89.0     450     no
2    M   blue    male   99.0     300    yes
3    L  green  female  129.0     380     no
4    M    red  female   79.0     410    yes

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   size    5 non-null      object
 1   color   5 non-null      object
 2   gender  5 non-null      object
 3   price   5 non-null      float64
 4   weight  5 non-null      int64
 5   bought  5 non-null      object
dtypes: float64(1), int64(1), object(4)
memory usage: 368.0+ bytes

In [56]:
#category lepiej nadaje się do tworzenia wizualizacji niż object
for i in ['size', 'color', 'gender', 'bought']:
    df[i] = df[i].astype('category')

df['weight'] = df['weight'].astype('float')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   size    5 non-null      category
 1   color   5 non-null      category
 2   gender  5 non-null      category
 3   price   5 non-null      float64
 4   weight  5 non-null      float64
 5   bought  5 non-null      category
dtypes: category(4), float64(2)
memory usage: 740.0 bytes

In [57]:
df.describe().T #statystyki kolumn numerycznych

        count   mean        std    min    25%    50%    75%    max
price     5.0  119.0  48.476799   79.0   89.0   99.0  129.0  199.0
weight    5.0  408.0  75.299402  300.0  380.0  410.0  450.0  500.0

In [58]:
df.describe(include='category').T   #statystyki kolumn kategorycznych

       count unique     top freq
size       5      3       L    2
color      5      3   green    2
gender     5      2  female    3
bought     5      2     yes    3

#Dane kategoryczne

#LabelEncoder()

In [59]:
#mapowanie targetu
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(df['bought'])
le.transform(df['bought'])

array([1, 0, 1, 0, 1])

In [60]:
le.fit_transform(df['bought'])  #lub za pomocą jednego polecenia

array([1, 0, 1, 0, 1])

In [61]:
le.classes_ #wyświetla sposób mapowania: no - 0, yes - 1

array(['no', 'yes'], dtype=object)

In [62]:
df['bought'] = le.fit_transform(df['bought'])
df

  size  color  gender  price  weight  bought
0   XL    red  female  199.0   500.0       1
1    L  green    male   89.0   450.0       0
2    M   blue    male   99.0   300.0       1
3    L  green  female  129.0   380.0       0
4    M    red  female   79.0   410.0       1

In [63]:
le.inverse_transform(df['bought'])  #cofnięcie mapowania

array(['yes', 'no', 'yes', 'no', 'yes'], dtype=object)

#OneHotEncoder()

In [64]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(sparse=False)   #gdy True - macierz rzadka, dla lepszego wglądu
encoder.fit(df[['size']])
encoder.transform(df[['size']])

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.]])

In [65]:
encoder.categories_

[array(['L', 'M', 'XL'], dtype=object)]

In [66]:
encoder = OneHotEncoder(drop='first', sparse=False)   #usunięcie pierwszej kolumny ponieważ 3 nie są potrzebne -> tylko 2
encoder.fit(df[['size']])
encoder.transform(df[['size']])

array([[0., 1.],
       [0., 0.],
       [1., 0.],
       [0., 0.],
       [1., 0.]])

#get_dummies()

In [67]:
pd.get_dummies(data=df)

,price,weight,bought,size_L,size_M,size_XL,color_blue,color_green,color_red,gender_female,gender_male
0,199.0,500.0,1,0,0,1,0,0,1,1,0
1,89.0,450.0,0,1,0,0,0,1,0,0,1
2,99.0,300.0,1,0,1,0,1,0,0,0,1
3,129.0,380.0,0,1,0,0,0,1,0,1,0
4,79.0,410.0,1,0,1,0,0,0,1,1,0

In [69]:
pd.get_dummies(data=df, drop_first=True)    #bez pierwszych, niepotrzebnych kolumn

   price  weight  bought  size_M  size_XL  color_green  color_red  gender_male
0  199.0   500.0       1       0        1            0          1            0
1   89.0   450.0       0       0        0            1          0            1
2   99.0   300.0       1       1        0            0          0            1
3  129.0   380.0       0       0        0            1          0            0
4   79.0   410.0       1       1        0            0          1            0

In [71]:
pd.get_dummies(data=df, drop_first=True, prefix='new')  #zmiana prefiksa w nazwach kolumn

   price  weight  bought  new_M  new_XL  new_green  new_red  new_male
0  199.0   500.0       1      0       1          0        1         0
1   89.0   450.0       0      0       0          1        0         1
2   99.0   300.0       1      1       0          0        0         1
3  129.0   380.0       0      0       0          1        0         0
4   79.0   410.0       1      1       0          0        1         0

In [74]:
pd.get_dummies(data=df, drop_first=True, prefix_sep='-') #zmiana separatora

   price  weight  bought  size-M  size-XL  color-green  color-red  gender-male
0  199.0   500.0       1       0        1            0          1            0
1   89.0   450.0       0       0        0            1          0            1
2   99.0   300.0       1       1        0            0          0            1
3  129.0   380.0       0       0        0            1          0            0
4   79.0   410.0       1       1        0            0          1            0

In [76]:
pd.get_dummies(data=df, drop_first=True, columns=['size'])  #wybranie tylko określonych kolumn

   color  gender  price  weight  bought  size_M  size_XL
0    red  female  199.0   500.0       1       0        1
1  green    male   89.0   450.0       0       0        0
2   blue    male   99.0   300.0       1       1        0
3  green  female  129.0   380.0       0       0        0
4    red  female   79.0   410.0       1       1        0

#Dane numeryczne

#StandardScaler()

In [82]:
#między pandas as numpy jest różnica w algorytmie std(), mogą występować różnice
#w pandasie estymator std jest nieobciążony a w numpy jest obciążony

print(df['price'])
print(f"Średnia: {df['price'].mean()}")
print(f"Odchylenie standardowe: {df['price'].std():.4f}")

array = np.array(df['price'])
print(f'Średnia: {array.mean()}')
print(f'Odchylenie standardowe: {array.std():.4f}')

0    199.0
1     89.0
2     99.0
3    129.0
4     79.0
Name: price, dtype: float64
Średnia: 119.0
Odchylenie standardowe: 48.4768
Średnia: 119.0
Odchylenie standardowe: 43.3590

In [80]:
#standaryzacja ręczna

def standarize(x):
    return (x - x.mean()) / x.std()

print(standarize(df['price']))

0    1.650274
1   -0.618853
2   -0.412568
3    0.206284
4   -0.825137
Name: price, dtype: float64

In [84]:
from sklearn.preprocessing import scale

scale(df['price'])  #wyniki różnią się bo sklearn sotsuje inny algorytm std, pewnie obciążony

array([ 1.84506242, -0.69189841, -0.4612656 ,  0.2306328 , -0.92253121])

In [85]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(df[['price']])
scaler.transform(df[['price']])

array([[ 1.84506242],
       [-0.69189841],
       [-0.4612656 ],
       [ 0.2306328 ],
       [-0.92253121]])

In [86]:
df['price'] = scaler.fit_transform(df[['price']])
df['weight'] = scaler.fit_transform(df[['weight']])
df

  size  color  gender     price    weight  bought
0   XL    red  female  1.845062  1.366002       1
1    L  green    male -0.691898  0.623610       0
2    M   blue    male -0.461266 -1.603567       1
3    L  green  female  0.230633 -0.415740       0
4    M    red  female -0.922531  0.029696       1

#Przygotowanie danych do modelu

In [93]:
df2 = df_raw.copy()

In [94]:
y = df2.pop('bought')
X = df2

In [96]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
y = le.fit_transform(y)
y

array([1, 0, 1, 0, 1])

In [98]:
X = pd.get_dummies(data=df2, drop_first=True)
X

   price  weight  size_M  size_XL  color_green  color_red  gender_male
0  199.0     500       0        1            0          1            0
1   89.0     450       0        0            1          0            1
2   99.0     300       1        0            0          0            1
3  129.0     380       0        0            1          0            0
4   79.0     410       1        0            0          1            0

In [99]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X[['price', 'weight']] = scaler.fit_transform(X[['price', 'weight']])
X

      price    weight  size_M  size_XL  color_green  color_red  gender_male
0  1.845062  1.366002       0        1            0          1            0
1 -0.691898  0.623610       0        0            1          0            1
2 -0.461266 -1.603567       1        0            0          0            1
3  0.230633 -0.415740       0        0            1          0            0
4 -0.922531  0.029696       1        0            0          1            0